/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    /* Переменные тёмной темы — она основная и работает по умолчанию */
    --page-background-image: url("../images/cover-image-dark.png");
    --page-background-color: #070d3d;
    --accent-color: #ff0070;
    --accent-color-text: #F1B2CE;
    --title-color: #e600ff;
    --subtitle-color: #000;
    --decor-color: #ff0070;
    --section-title-color: #ff0070;
    --rec-display: inline-block;
}
